<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ixiamen.activity.mapper.SignInMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ixiamen.activity.entity.SignIn">
        <id column="sign_in_id" property="signInId" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="phone" property="phone" />
        <result column="mobile" property="mobile" />
        <result column="fireworks_time" property="fireworksTime" />
        <result column="sign_in_time" property="signInTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sign_in_id AS signInId, user_id AS userId, user_name AS userName, phone, mobile, fireworks_time AS fireworksTime, sign_in_time AS signInTime
    </sql>

</mapper>
